body {
    background: #222 url("../images/wallpaper-3.jpg") center top no-repeat;
    background-size: unset;
}

#cover-caption {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

form:before {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: -1;
    border-radius: 5px;
}

table table.table-sm {
    background: rgba(0,0,0,0);
}

#status_row {
    transition: all 0.6s;
}