<!--
Welcome! Ver descriptions allocated here:

(pre-alpha)
0.0.1 - simple requests
(alpha)
0.1.0 - improved updates, table output
0.1.1 - bootstrap.js, dynamic update
0.1.2 - style, update cancel by button
(update)
0.2.0 - auto error logging, widget for consumer alpha testing reports
0.2.1 - added request timeout handler
0.2.2 - added sysLocation, sysUpTime, port errors
(beta)
0.3.0 - parallelization achieved
0.3.1 - one more errors... (snmp)
0.3.2 - logs (pexpect)
0.3.3 - better timeout handler
0.3.4 - RSA encryption
0.3.5 - RMON activator for port errors pulling
0.3.6 - template structure, hidden scrollbar
    a - saving configuration after enabling RMON
(update)
0.4.0 - PySNMP enabling/disabling ports
    a - inclusion of reload port modal
    b - code restructure and optimization

--->
{% extends "base.html" %}
{% block content %}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ошибки порта</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-justify">
                Если половина значений ошибок недоступна ("n/a" - not available) - выполните функцию "Включить RMON".<br/>
                Для этого нажмите:
                <ul>
                    <li>
                        Стрелочка вниз кнопки "Логи"
                    </li>
                    <li>
                        Кнопка "Включить RMON"
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="reload-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="reload-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reload-modal-label"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-justify" id="reload-modal-body"></div>
        </div>
    </div>
</div>
<div id="cover-caption">
    <div class="container">
        <div class="row text-white">
            <div class="col-xl-7 col-lg-8 col-md-10 col-sm-12 mx-auto text-center form p-2">
                <div class="px-2">
                    <form name="update" method="get" class="justify-content-center">
                        <h5>Мониторинг порта</h5>
                        <div class="form-row">
                            <div class="col-4">IP</div>
                            <div class="col-2">Порт</div>
                            <div class="col-3">Автообнов.</div>
                            <div class="col-3"></div>
                            <div class="form-group col-4">
                                <label class="sr-only" for="input-ip">IP</label>
                                    <input id="input-ip" type=text value="192.168.110.87" placeholder="IP-адрес свича" class="form-control">
                                <div class="invalid-tooltip">Проверьте IP</div>
                            </div>
                            <div class="form-group col-2">
                                <label class="sr-only" for="input-port">Порт</label>
                                    <input id="input-port" type=text value="3" placeholder="Номер порта" class="form-control">
                                <div class="invalid-tooltip">Проверте порт</div>
                            </div>
                            <div class="form-group col-3">
                                <label class="sr-only" for="update-every">Обновление</label>
                                <select class="custom-select" id="update-every">
                                    <option selected>Не обновл.</option>
                                    <option value="3">3 сек</option>
                                    <option value="5">5 сек</option>
                                    <option value="10">10 сек</option>
                                    <option value="60">1 мин</option>
                                </select>
                            </div>
                            <div class="form-group btn-group col-3">
                                <button type="button" id="start-button" class="btn btn-outline-primary w-100">
                                    <span class="spinner-border spinner-border-sm m-1 collapse" id="button-spinner" role="status"></span>
                                    <span class="collapse show" id="button-value">Запуск</span>
                                </button>
                                <div class="btn-group" role="group">
                                    <button id="btnGroupDrop1" type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop1">
                                        <h6 class="dropdown-header">Управление портами</h6>
                                        <button type="button" id="enable-port-button" class="dropdown-item">Перезапустить порт</button>
                                        <button type="button" id="disable-port-button" class="dropdown-item">Выключить порт</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h5>Логи коммутатора</h5>
                        <div class="form-row">
                            <div class="col-3">Логин</div>
                            <div class="col-3">Пароль</div>
                            <div class="col-3">Кол-во стр.</div>
                            <div class="col-3"></div>
                            <div class="form-group col-3">
                                <label class="sr-only" for="input-login">Логин</label>
                                <input id="input-login" type=text value="admin" placeholder="Логин" class="form-control">
                                <div class="invalid-tooltip">Проверьте логин</div>
                            </div>
                            <div class="form-group col-3">
                                <label class="sr-only" for="input-password">Пароль</label>
                                <input id="input-password" type=password value="" placeholder="Пароль" class="form-control">
                            </div>
                            <div class="form-group col-3">
                                <label class="sr-only" for="input-pages">Кол-во стр.</label>
                                <input id="input-pages" type=number value="1" placeholder="Кол-во стр." class="form-control">
                            </div>
                            <div class="form-group btn-group col-3" role="group">
                                <button type="button" id="logs-button" class="btn btn-outline-primary w-100">
                                    <span class="spinner-border spinner-border-sm m-1 collapse" id="logs-button-spinner" role="status"></span>
                                    <span class="collapse show" id="logs-button-value">Логи</span>
                                </button>
                                <div class="btn-group" role="group">
                                    <button id="btnGroupDrop2" type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop2">
                                        <h6 class="dropdown-header">Управление коммутатором</h6>
                                        <button type="button" id="enable-rmon-button" class="dropdown-item" >Включить RMON</button>
{#                                        <a class="dropdown-item" href="#">Dropdown link</a>#}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-xl-7 col-lg-9 col-md-11 col-sm-12 mx-auto form p-2 collapse" id="table-form">
                <form method=post>
                    <table class="table" id="update-table" style="color: whitesmoke">
                        <tr class="collapse" name="sys-table">
                            <th scope="row">IP:порт</th>
                            <td id="ip-port"></td>
                            <th>Аптайм</th>
                            <td id="sysuptime"></td>
                        </tr>
                        <tr class="collapse" name="sys-table">
                            <th>Имя</th>
                            <td id="sysname"></td>
                            <th>Локация</th>
                            <td id="syslocation"></td>
                        </tr>
                        <tr class="collapse" name="port-table" id="status-row">
                            <th>Статус порта</th>
                            <td id="status"></td>
                            <th>Соединение</th>
                            <td id="link"></td>
                        </tr>
                        <tr class="collapse" name="port-table">
                            <th>
                                <a data-toggle="collapse" href="#collapseAddress" role="button" aria-expanded="false">Адреса порта</a>
                            </th>
                            <td class="text-uppercase" colspan=3>
                                <div class="w-100 collapse show" id="collapseAddress">
                                    <table width="100%" class="table-sm table-dark collapse show">
                                        <tr>
                                            <td>MAC</td>
                                            <td>vLAN</td>
                                        </tr>
                                        <tr>
                                            <td id="mac" nowrap></td>
                                            <td id="vlan" nowrap></td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                        <tr class="collapse" name="errors-table">
                            <td colspan=4>
                                <div class="font-weight-bold p-2">
                                    <div class="text-center">
                                        <a data-toggle="collapse" href="#collapseError" role="button" aria-expanded="true" aria-controls="collapseError">Ошибки порта</a>
                                        <div style="float: right">
                                            <a href="#exampleModal" role="button" data-toggle="modal" data-target="#exampleModal">
                                                <i class="fa fa-question-circle"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div id="collapseError" class="collapse show">
                                    <table width="100%" class="table-sm table-dark">
                                        <tbody id="errors">
                                        <tr style="text-align: center">
                                            <td colspan=2 style="text-align: center">RX Frames</td>
                                            <td colspan=4 style="text-align: center">TX Frames</td>
                                        </tr>
                                        <tr>
                                            <td nowrap style="text-align: right" id="errors1"></td>
                                            <td id="errors2"></td>
                                            <td nowrap style="text-align: right" id="errors3"></td>
                                            <td id="errors4"></td>
                                            <td colspan=2></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                        <tr class="collapse" name="logs-table">
                            <td colspan=4>
                                <div class="w-100 text-center font-weight-bold p-2">
                                    <a data-toggle="collapse" href="#logs" role="button" aria-expanded="true" aria-controls="logs">Логи</a>
                                </div>
                                <div id="logs" class="text-left collapse show"></div>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
<button id="reload-modal-button" type="button" class="sr-only" data-toggle="modal" data-target="#reload-modal"></button>
{% endblock %}